Repository maximedenes/coq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @maximedenes, @ejgallego, @SkySkimmer, @Zimmi48, @silene, @barras, @ppedrot, @herbelin, @letouzey, @aspiwack, @forestjulien, @fajb, @thery, @amahboubi, @gares, @mattam82, @JasonGross

.github/CODEOWNERS:

# This file describes the maintainers for the main components. See
# `dev/doc/MERGING.md`.

########## GitHub metadata, including this file ##########

/.github/         @maximedenes
# Secondary maintainer @Zimmi48

########## CI infrastructure ##########

/dev/ci/*.sh      @ejgallego
# Secondary maintainer @SkySkimmer

/.travis.yml      @ejgallego
# Secondary maintainer @SkySkimmer

/.gitlab-ci.yml   @SkySkimmer
# Secondary maintainer @ejgallego

/appveyor.yml    @maximedenes
# Secondary maintainer @SkySkimmer

/default.nix     @Zimmi48
# Secondary maintainer @vbgl

########## Documentation ##########

/README.md        @Zimmi48
# Secondary maintainer @maximedenes

/INSTALL*         @Zimmi48
# Secondary maintainer @maximedenes

/CONTRIBUTING.md  @Zimmi48
# Secondary maintainer @maximedenes

/dev/doc/         @Zimmi48
# Secondary maintainer @maximedenes

/doc/             @silene
# Secondary maintainer @maximedenes

/man/             @silene
# Secondary maintainer @maximedenes

########## Coqchk ##########

/checker/         @barras
# Secondary maintainer @maximedenes

########## Coq lib ##########

/clib/            @ppedrot
# Secondary maintainer @ejgallego

/lib/             @ejgallego
# Secondary maintainer @ppedrot

########## Proof engine ##########

/engine/          @ppedrot
# Secondary maintainer @aspiwack

########## Grammar macros ##########

/grammar/         @ppedrot
# Secondary maintainer @maximedenes

########## CoqIDE ##########

/ide/             @ppedrot
# Secondary maintainer @gares

########## Interpretation ##########

/interp/          @herbelin
# Secondary maintainer @ejgallego

########## Interfaces ##########

/intf/            @letouzey
# Secondary maintainer @ppedrot

########## Kernel ##########

/kernel/          @maximedenes
# Secondary maintainer @barras

/kernel/byterun/  @maximedenes
# Secondary maintainer @silene

########## Library ##########

/library/         @silene
# Secondary maintainer @gares

########## Parser ##########

/parsing/         @herbelin
# Secondary maintainer @mattam82

########## Plugins ##########

/plugins/btauto/  @ppedrot
# Secondary maintainer @herbelin

# I don't know Pierre Corbineau's GitHub nickname
/plugins/cc/            @herbelin

/plugins/derive/        @aspiwack
# Secondary maintainer @ppedrot

/plugins/extraction/    @letouzey
# Secondary maintainer @maximedenes

# I don't know Pierre Corbineau's GitHub nickname
/plugins/firstorder/    @herbelin

/plugins/fourier/       @herbelin
# Secondary maintainer @gares

/plugins/funind/        @forestjulien
# Secondary maintainer @Matafou

/plugins/ltac/          @ppedrot
# Secondary maintainer @herbelin

/plugins/micromega/     @fajb
# Secondary maintainer @bgregoir

/plugins/nsatz/         @thery
# Secondary maintainer @ppedrot

/plugins/omega/         @letouzey

/plugins/romega/        @letouzey

/plugins/setoid_ring/   @amahboubi
# Secondary maintainer @bgregoir

/plugins/ssrmatching/   @gares
# Secondary maintainer @maximedenes

/plugins/ssr/           @gares
# Secondary maintainer @maximedenes

/plugins/syntax/        @ppedrot
# Secondary maintainer @maximedenes

/plugins/quote/ @herbelin

# Should be Pierre Corbineau too
/plugins/rtauto/ @herbelin

########## Pretyper ##########

/pretyping/       @mattam82
# Secondary maintainer @gares

########## Pretty printer ##########

/printing/        @herbelin
# Secondary maintainer @mattam82

########## Proof infrastructure ##########

/proofs/          @ppedrot
# Secondary maintainer @Zimmi48

########## STM ##########

/stm/             @gares
# Secondary maintainer @ejgallego

########## Tactics ##########

/tactics/         @ppedrot
# Secondary maintainer @mattam82

########## Standard library ##########

/theories/Arith/          @letouzey
# Secondary maintainer @herbelin

/theories/Bool/           @letouzey
# Secondary maintainer @herbelin

/theories/Classes/        @mattam82
# Secondary maintainer @herbelin

/theories/FSets/          @letouzey
# Secondary maintainer @herbelin

/theories/Init/           @letouzey
# Secondary maintainer @ppedrot

/theories/Lists/          @letouzey
# Secondary maintainer @ppedrot

/theories/Logic/          @herbelin
# Secondary maintainer @ppedrot

/theories/MSets/          @letouzey
# Secondary maintainer @herbelin

/theories/NArith/         @letouzey
# Secondary maintainer @herbelin

/theories/Numbers/        @letouzey
# Secondary maintainer @herbelin

/theories/PArith/         @letouzey
# Secondary maintainer @herbelin

/theories/Program/        @mattam82
# Secondary maintainer @herbelin

/theories/QArith/         @letouzey
# Secondary maintainer @herbelin

/theories/Reals/          @silene
# Secondary maintainer @ppedrot

/theories/Relations/      @mattam82
# Secondary maintainer @ppedrot

/theories/Setoids/        @mattam82
# Secondary maintainer @ppedrot

/theories/Sets/           @letouzey
# Secondary maintainer @herbelin

/theories/Sorting/        @letouzey
# Secondary maintainer @herbelin

/theories/Strings/        @letouzey
# Secondary maintainer @herbelin

/theories/Structures/     @letouzey
# Secondary maintainer @herbelin

/theories/Unicode/        @letouzey
# Secondary maintainer @herbelin

/theories/Wellfounded/    @letouzey
# Secondary maintainer @mattam82

/theories/ZArith/         @letouzey
# Secondary maintainer @herbelin

/theories/Compat/         @JasonGross
# Secondary maintainer @Zimmi48

/theories/Vectors/        @herbelin

########## Tools ##########

/tools/coqdoc/          @silene
# Secondary maintainer @mattam82

/tools/coq_makefile*    @gares
# Secondary maintainer @silene

/tools/CoqMakefile*     @gares
# Secondary maintainer @silene

/tools/coqdep*          @ppedrot
# Secondary maintainer @maximedenes

/tools/coq_tex*         @silene
# Secondary maintainer @gares

/tools/coqwc*           @silene
# Secondary maintainer @gares

########## Toplevel ##########

/toplevel/        @ejgallego
# Secondary maintainer @gares

########## Vernacular ##########

/vernac/          @mattam82
# Secondary maintainer @maximedenes

########## Build system ##########

/Makefile*        @letouzey
# Secondary maintainer @maximdenes

/configure*       @letouzey
# Secondary maintainer @ejgallego

/META.coq         @ejgallego
# Secondary maintainer @letouzey


########## Developer tools ##########

/dev/tools/backport-pr.sh     @Zimmi48
# Secondary maintainer @maximedenes

/dev/tools/change-header      @herbelin

/dev/tools/check-eof-newline.sh @SkySkimmer

/dev/tools/coqdev.el @SkySkimmer

/dev/tools/github-check-prs.py @SkySkimmer

/dev/tools/merge-pr.sh @maximedenes
# Secondary maintainer @gares

/dev/tools/pre-commit @SkySkimmer

/dev/tools/sudo-apt-get-update @JasonGross

Turn off generation of glob files by default
  toplevel/coqargs.ml
Owners: @ejgallego

fixup
  Makefile.common
Owners: @letouzey

Nix-based build of macOS binary
  default.nix
Owners: @Zimmi48

[coqlib] Now builds, modulo warnings
  plugins/fourier/fourierR.ml
  plugins/ltac/rewrite.ml
  tactics/hipattern.ml
Owners: @herbelin, @ppedrot

Rebind `unify` to Evarconv
  tactics/tactics.ml
Owners: @ppedrot

WIP
  library/nametab.ml
Owners: @silene

Implementing support for vos/vok files.
  .gitignore
  doc/sphinx/practical-tools/coq-commands.rst
  lib/flags.ml
  lib/flags.mli
  stm/stm.ml
  stm/stm.mli
  test-suite/Makefile
  test-suite/misc/deps/deps.out
  test-suite/vos/A.v
  test-suite/vos/B.v
  test-suite/vos/C.v
  test-suite/vos/run.sh
  tools/CoqMakefile.in
  tools/coqdep_common.ml
  toplevel/ccompile.ml
  toplevel/coqc.ml
  toplevel/coqcargs.ml
  toplevel/coqcargs.mli
  vernac/library.ml
  vernac/library.mli
  vernac/loadpath.ml
  vernac/vernacentries.ml
Owners: @silene, @ejgallego, @gares, @ppedrot, @mattam82

Changelog entry
  doc/changelog/08-tools/08642-vos-files.rst
Owners: @silene

additional details in the doc for -vos
  doc/sphinx/practical-tools/coq-commands.rst
Owners: @silene

Fix #11140: Bidirectionality hints perform (surprising?) simplification
  pretyping/cases.ml
  pretyping/coercion.ml
  pretyping/coercion.mli
  pretyping/pretyping.ml
  pretyping/unification.ml
  proofs/clenv.ml
  test-suite/bugs/bug_11140.v
Owners: @mattam82, @ppedrot

Fix build
  dev/top_printers.ml
  dev/vm_printers.ml
Owners: none

Do not erase native files in debug mode
  kernel/nativelib.ml
Owners: @maximedenes

Fix conversion almost-anomaly backtrace.
  pretyping/reductionops.ml
Owners: @mattam82

Make PArray.max_length a primitive
  kernel/cClosure.ml
  kernel/cPrimitives.ml
  kernel/cPrimitives.mli
  kernel/cbytegen.ml
  kernel/cemitcodes.ml
  kernel/nativevalues.ml
  kernel/nativevalues.mli
  kernel/parray.ml
  kernel/parray.mli
  kernel/primred.ml
  pretyping/cbv.ml
  pretyping/reductionops.ml
  test-suite/primitive/arrays/max_length.v
  theories/Array/PArray.v
  vernac/g_vernac.mlg
Owners: @maximedenes, @mattam82

Fix doc build
  doc/stdlib/index-list.html.template
Owners: @silene

Move lookahead combinators to Pcoq
  parsing/g_prim.mlg
  parsing/pcoq.ml
  parsing/pcoq.mli
  user-contrib/Ltac2/g_ltac2.mlg
Owners: @herbelin

Consolidate int63-related notations
  theories/Floats/FloatLemmas.v
  theories/Floats/FloatOps.v
  theories/Numbers/Cyclic/Int63/Cyclic63.v
  theories/Numbers/Cyclic/Int63/Int63.v
Owners: @letouzey

Nicer syntax for array literals
  parsing/g_constr.mlg
  test-suite/primitive/arrays/copy.v
  test-suite/primitive/arrays/default.v
  test-suite/primitive/arrays/get.v
  test-suite/primitive/arrays/length.v
  test-suite/primitive/arrays/max_length.v
  theories/Array/PArray.v
Owners: @herbelin

Bump OCaml
  default.nix
  dev/nixpkgs.nix
Owners: @Zimmi48

Move printers for recarg trees to `Declareops`
  dev/top_printers.ml
  kernel/declareops.ml
  kernel/declareops.mli
Owners: @maximedenes

Make positivity and guard condition accept nested types with `array`
  checker/checkInductive.ml
  dev/top_printers.ml
  kernel/declarations.ml
  kernel/declareops.ml
  kernel/indtypes.ml
  kernel/inductive.ml
  kernel/inductive.mli
  pretyping/indrec.ml
  tactics/tacticals.ml
  test-suite/primitive/arrays/nested.v
Owners: @barras, @maximedenes, @mattam82, @ppedrot

Adapt checker to primitive arrays
  checker/values.ml
Owners: @barras

More tests for nested inductives with `array`
  test-suite/primitive/arrays/nested.v
Owners: none

Tests for `PArray.make`
  test-suite/primitive/arrays/make.v
Owners: none

Remove leftover ML code in array theories
  theories/Array/extrNative.ml
  theories/Array/extrNative.mli
Owners: none

Remove destructive set primitive
  kernel/cPrimitives.ml
  kernel/cPrimitives.mli
  kernel/cemitcodes.ml
  kernel/primred.ml
Owners: @maximedenes

Reification of arrays in VM
  dev/vm_printers.ml
  kernel/vconv.ml
  kernel/vm.ml
  kernel/vmvalues.ml
  kernel/vmvalues.mli
  pretyping/vnorm.ml
Owners: @maximedenes, @mattam82

Reification of arrays in native_compute
  kernel/nativeconv.ml
  kernel/nativevalues.ml
  kernel/nativevalues.mli
  pretyping/nativenorm.ml
Owners: @maximedenes, @mattam82

Remove init and map on array as primitives
  kernel/cPrimitives.ml
  kernel/cPrimitives.mli
  kernel/cemitcodes.ml
  kernel/primred.ml
  theories/Array/ExtractNative.v
  theories/Array/PArray.v
  vernac/g_vernac.mlg
Owners: @maximedenes, @mattam82

Fix checker for primitives
  checker/values.ml
Owners: @barras

Fix notations and proofs
  theories/Array/PArray.v
Owners: none

Clean up extraction directives for PArray
  theories/Array/ExtractNative.v
  theories/Array/vo.itarget
  theories/extraction/ExtrOCamlPArray.v
Owners: none

Stub for universe polymorphic arrays
  dev/top_printers.ml
  engine/eConstr.ml
  engine/eConstr.mli
  engine/termops.ml
  kernel/cClosure.ml
  kernel/cClosure.mli
  kernel/clambda.ml
  kernel/constr.ml
  kernel/constr.mli
  kernel/declarations.ml
  kernel/environ.ml
  kernel/environ.mli
  kernel/inductive.ml
  kernel/nativelambda.ml
  kernel/primred.ml
  kernel/primred.mli
  kernel/reduction.ml
  kernel/term_typing.ml
  kernel/typeops.ml
  kernel/typeops.mli
  plugins/extraction/extraction.ml
  plugins/funind/recdef.ml
  plugins/ssrmatching/ssrmatching.ml
  pretyping/cbv.ml
  pretyping/cbv.mli
  pretyping/constr_matching.ml
  pretyping/detyping.ml
  pretyping/patternops.ml
  pretyping/pretyping.ml
  pretyping/reductionops.ml
  pretyping/retyping.ml
  pretyping/typing.ml
  pretyping/unification.ml
  tactics/term_dnet.ml
  user-contrib/Ltac2/tac2core.ml
Owners: @ppedrot, @maximedenes, @letouzey, @forestjulien, @gares, @mattam82

Fix doc build
  doc/stdlib/index-list.html.template
Owners: @silene

Do not erase native files in debug mode
  kernel/nativelib.ml
Owners: @maximedenes

Fix build
  dev/top_printers.ml
  dev/vm_printers.ml
Owners: none

Nicer syntax for array literals
  parsing/g_constr.mlg
  test-suite/primitive/arrays/copy.v
  test-suite/primitive/arrays/default.v
  test-suite/primitive/arrays/get.v
  test-suite/primitive/arrays/length.v
  test-suite/primitive/arrays/max_length.v
  theories/Array/PArray.v
Owners: @herbelin

Bump OCaml
  default.nix
  dev/nixpkgs.nix
Owners: @Zimmi48

Tests for `PArray.make`
  test-suite/primitive/arrays/make.v
Owners: none

Make PArray.max_length a primitive
  kernel/cClosure.ml
  kernel/cPrimitives.ml
  kernel/cPrimitives.mli
  kernel/cbytegen.ml
  kernel/cemitcodes.ml
  kernel/nativevalues.ml
  kernel/nativevalues.mli
  kernel/parray.ml
  kernel/parray.mli
  kernel/primred.ml
  pretyping/cbv.ml
  pretyping/reductionops.ml
  test-suite/primitive/arrays/max_length.v
  theories/Array/PArray.v
  vernac/g_vernac.mlg
Owners: @maximedenes, @mattam82
