Repository maximedenes/coq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @maximedenes, @ejgallego, @SkySkimmer, @Zimmi48, @silene, @barras, @ppedrot, @herbelin, @letouzey, @aspiwack, @forestjulien, @fajb, @thery, @amahboubi, @gares, @mattam82, @JasonGross

Adapt checker to primitive arrays
  checker/values.ml
Owners: @barras

Remove leftover ML code in array theories
  theories/Array/extrNative.ml
  theories/Array/extrNative.mli
Owners: none

Make positivity and guard condition accept nested types with `array`
  checker/checkInductive.ml
  dev/top_printers.ml
  kernel/declarations.ml
  kernel/declareops.ml
  kernel/indtypes.ml
  kernel/inductive.ml
  kernel/inductive.mli
  pretyping/indrec.ml
  tactics/tacticals.ml
  test-suite/primitive/arrays/nested.v
Owners: @barras, @maximedenes, @mattam82, @ppedrot

Move printers for recarg trees to `Declareops`
  dev/top_printers.ml
  kernel/declareops.ml
  kernel/declareops.mli
Owners: @maximedenes

More tests for nested inductives with `array`
  test-suite/primitive/arrays/nested.v
Owners: none

Reification of arrays in VM
  dev/vm_printers.ml
  kernel/vconv.ml
  kernel/vm.ml
  kernel/vmvalues.ml
  kernel/vmvalues.mli
  pretyping/vnorm.ml
Owners: @maximedenes, @mattam82

Fix notations and proofs
  theories/Array/PArray.v
Owners: none

Fix checker for primitives
  checker/values.ml
Owners: @barras

Remove init and map on array as primitives
  kernel/cPrimitives.ml
  kernel/cPrimitives.mli
  kernel/cemitcodes.ml
  kernel/primred.ml
  theories/Array/ExtractNative.v
  theories/Array/PArray.v
  vernac/g_vernac.mlg
Owners: @maximedenes, @mattam82

Reification of arrays in native_compute
  kernel/nativeconv.ml
  kernel/nativevalues.ml
  kernel/nativevalues.mli
  pretyping/nativenorm.ml
Owners: @maximedenes, @mattam82

Remove destructive set primitive
  kernel/cPrimitives.ml
  kernel/cPrimitives.mli
  kernel/cemitcodes.ml
  kernel/primred.ml
Owners: @maximedenes

Clean up extraction directives for PArray
  doc/stdlib/hidden-files
  theories/Array/ExtractNative.v
  theories/Array/vo.itarget
  theories/extraction/ExtrOCamlPArray.v
Owners: @silene

WIP
  kernel/cClosure.ml
  kernel/constr.ml
  kernel/constr.mli
  kernel/primred.ml
  parsing/g_constr.mlg
Owners: @maximedenes, @herbelin

Add a document manager
  Makefile.dune
  default.nix
  ide/vscoq/dune
  ide/vscoq/vscoqtop.ml
  stm/document.ml
  stm/document.mli
  stm/executionManager.ml
  stm/executionManager.mli
  stm/scheduler.ml
  stm/scheduler.mli
  stm/stm.mllib
  vscoq-server.opam
Owners: @letouzey, @Zimmi48, @ppedrot, @gares

Move CoqIDE to its own folder
  ide/coqide/coq_icon.rc
Owners: @ppedrot

Fix
  ide/vscoq/vscoqtop.ml
  stm/documentManager.ml
  stm/documentManager.mli
Owners: @ppedrot, @gares

warn-error is for morons
  ide/vscoq/dune
  stm/dune
Owners: @ppedrot, @gares

Incremental feedback
  ide/vscoq/vscoqtop.ml
  stm/documentManager.ml
  stm/documentManager.mli
  stm/executionManager.ml
  stm/executionManager.mli
Owners: @ppedrot, @gares

Interpret to end and reset
  ide/vscoq/vscoqtop.ml
  stm/documentManager.ml
  stm/documentManager.mli
Owners: @ppedrot, @gares

Retract on edit, without invalidating
  stm/documentManager.ml
  stm/executionManager.ml
  stm/executionManager.mli
Owners: @gares

[fix] observe was always executing at least one state, even when cached
  stm/executionManager.ml
Owners: @gares

Shift sentences and diagnostics after edit
  stm/documentManager.ml
  stm/executionManager.ml
  stm/executionManager.mli
Owners: @gares

use lwt for io
  ide/vscoq/dune
  ide/vscoq/vscoqtop.ml
  stm/documentManager.ml
  stm/documentManager.mli
  stm/dune
  stm/executionManager.ml
  stm/executionManager.mli
Owners: @ppedrot, @gares

Make `Unshelve` prepend shelf to goals, like `unshelve`
  engine/proofview.ml
Owners: @ppedrot

Do not call unification heuristics before resolving TC
  tactics/class_tactics.ml
Owners: @ppedrot

Add a ?future_goal option to new_evar*
  engine/evarutil.ml
  engine/evarutil.mli
Owners: @ppedrot

unification: flags_of in API
  pretyping/unification.ml
  pretyping/unification.mli
Owners: @mattam82

clenv/clenvtac: implementation based on evars w/ occurrence selection
  engine/eConstr.ml
  engine/eConstr.mli
  plugins/ltac/rewrite.ml
  pretyping/unification.ml
  proofs/clenv.ml
  proofs/clenv.mli
  tactics/autorewrite.ml
  tactics/class_tactics.ml
  tactics/eauto.ml
  tactics/tactics.ml
Owners: @ppedrot, @mattam82

evarconv: TODO comment
  pretyping/evarconv.ml
Owners: @mattam82

Document compatibility issues
  compat_unif
Owners: none

test-suite: apply: 3647 now not choosing non-unique solution
  test-suite/bugs/closed/bug_3647.v
Owners: none

test-suite: apply.v script fixes (no compat)
  test-suite/success/apply.v
Owners: none

stdlib: apply compat
  theories/FSets/FMapFacts.v
  theories/Numbers/Cyclic/Int31/Cyclic31.v
  theories/QArith/Qabs.v
  theories/Reals/Rbasic_fun.v
  theories/Reals/RiemannInt_SF.v
  theories/Sorting/Mergesort.v
Owners: @letouzey, @silene

Heuristic fix for evarconv and apply
  pretyping/evarconv.ml
Owners: @mattam82

test-suite: apply: bug 4116: relying on evar-evar FO unification
  test-suite/bugs/closed/bug_4116.v
Owners: none

tactics: port apply
  plugins/ltac/rewrite.ml
  proofs/clenv.ml
  proofs/clenv.mli
  tactics/class_tactics.ml
  tactics/tactics.ml
  tactics/tactics.mli
Owners: @ppedrot

clear_metas in tclEVARS to avoid nonsensical dangling metas
  engine/proofview.ml
Owners: @ppedrot

test-suite: HoTT_coq_117, all definitions now pass
  test-suite/bugs/closed/HoTT_coq_117.v
Owners: none

test-suite: pose proof: bug 4763, needs annotations to solve goal
  test-suite/bugs/closed/bug_4763.v
Owners: none

Temporary fixes for two stdlib incompatibilities, to be investigated
  theories/Numbers/Cyclic/Int63/Int63.v
  theories/ZArith/Zpower.v
Owners: @letouzey

.github/CODEOWNERS:

# This file describes the maintainers for the main components. See
# `dev/doc/MERGING.md`.

########## GitHub metadata, including this file ##########

/.github/         @maximedenes
# Secondary maintainer @Zimmi48

########## CI infrastructure ##########

/dev/ci/*.sh      @ejgallego
# Secondary maintainer @SkySkimmer

/.travis.yml      @ejgallego
# Secondary maintainer @SkySkimmer

/.gitlab-ci.yml   @SkySkimmer
# Secondary maintainer @ejgallego

/appveyor.yml    @maximedenes
# Secondary maintainer @SkySkimmer

/default.nix     @Zimmi48
# Secondary maintainer @vbgl

########## Documentation ##########

/README.md        @Zimmi48
# Secondary maintainer @maximedenes

/INSTALL*         @Zimmi48
# Secondary maintainer @maximedenes

/CONTRIBUTING.md  @Zimmi48
# Secondary maintainer @maximedenes

/dev/doc/         @Zimmi48
# Secondary maintainer @maximedenes

/doc/             @silene
# Secondary maintainer @maximedenes

/man/             @silene
# Secondary maintainer @maximedenes

########## Coqchk ##########

/checker/         @barras
# Secondary maintainer @maximedenes

########## Coq lib ##########

/clib/            @ppedrot
# Secondary maintainer @ejgallego

/lib/             @ejgallego
# Secondary maintainer @ppedrot

########## Proof engine ##########

/engine/          @ppedrot
# Secondary maintainer @aspiwack

########## Grammar macros ##########

/grammar/         @ppedrot
# Secondary maintainer @maximedenes

########## CoqIDE ##########

/ide/             @ppedrot
# Secondary maintainer @gares

########## Interpretation ##########

/interp/          @herbelin
# Secondary maintainer @ejgallego

########## Interfaces ##########

/intf/            @letouzey
# Secondary maintainer @ppedrot

########## Kernel ##########

/kernel/          @maximedenes
# Secondary maintainer @barras

/kernel/byterun/  @maximedenes
# Secondary maintainer @silene

########## Library ##########

/library/         @silene
# Secondary maintainer @gares

########## Parser ##########

/parsing/         @herbelin
# Secondary maintainer @mattam82

########## Plugins ##########

/plugins/btauto/  @ppedrot
# Secondary maintainer @herbelin

# I don't know Pierre Corbineau's GitHub nickname
/plugins/cc/            @herbelin

/plugins/derive/        @aspiwack
# Secondary maintainer @ppedrot

/plugins/extraction/    @letouzey
# Secondary maintainer @maximedenes

# I don't know Pierre Corbineau's GitHub nickname
/plugins/firstorder/    @herbelin

/plugins/fourier/       @herbelin
# Secondary maintainer @gares

/plugins/funind/        @forestjulien
# Secondary maintainer @Matafou

/plugins/ltac/          @ppedrot
# Secondary maintainer @herbelin

/plugins/micromega/     @fajb
# Secondary maintainer @bgregoir

/plugins/nsatz/         @thery
# Secondary maintainer @ppedrot

/plugins/omega/         @letouzey

/plugins/romega/        @letouzey

/plugins/setoid_ring/   @amahboubi
# Secondary maintainer @bgregoir

/plugins/ssrmatching/   @gares
# Secondary maintainer @maximedenes

/plugins/ssr/           @gares
# Secondary maintainer @maximedenes

/plugins/syntax/        @ppedrot
# Secondary maintainer @maximedenes

/plugins/quote/ @herbelin

# Should be Pierre Corbineau too
/plugins/rtauto/ @herbelin

########## Pretyper ##########

/pretyping/       @mattam82
# Secondary maintainer @gares

########## Pretty printer ##########

/printing/        @herbelin
# Secondary maintainer @mattam82

########## Proof infrastructure ##########

/proofs/          @ppedrot
# Secondary maintainer @Zimmi48

########## STM ##########

/stm/             @gares
# Secondary maintainer @ejgallego

########## Tactics ##########

/tactics/         @ppedrot
# Secondary maintainer @mattam82

########## Standard library ##########

/theories/Arith/          @letouzey
# Secondary maintainer @herbelin

/theories/Bool/           @letouzey
# Secondary maintainer @herbelin

/theories/Classes/        @mattam82
# Secondary maintainer @herbelin

/theories/FSets/          @letouzey
# Secondary maintainer @herbelin

/theories/Init/           @letouzey
# Secondary maintainer @ppedrot

/theories/Lists/          @letouzey
# Secondary maintainer @ppedrot

/theories/Logic/          @herbelin
# Secondary maintainer @ppedrot

/theories/MSets/          @letouzey
# Secondary maintainer @herbelin

/theories/NArith/         @letouzey
# Secondary maintainer @herbelin

/theories/Numbers/        @letouzey
# Secondary maintainer @herbelin

/theories/PArith/         @letouzey
# Secondary maintainer @herbelin

/theories/Program/        @mattam82
# Secondary maintainer @herbelin

/theories/QArith/         @letouzey
# Secondary maintainer @herbelin

/theories/Reals/          @silene
# Secondary maintainer @ppedrot

/theories/Relations/      @mattam82
# Secondary maintainer @ppedrot

/theories/Setoids/        @mattam82
# Secondary maintainer @ppedrot

/theories/Sets/           @letouzey
# Secondary maintainer @herbelin

/theories/Sorting/        @letouzey
# Secondary maintainer @herbelin

/theories/Strings/        @letouzey
# Secondary maintainer @herbelin

/theories/Structures/     @letouzey
# Secondary maintainer @herbelin

/theories/Unicode/        @letouzey
# Secondary maintainer @herbelin

/theories/Wellfounded/    @letouzey
# Secondary maintainer @mattam82

/theories/ZArith/         @letouzey
# Secondary maintainer @herbelin

/theories/Compat/         @JasonGross
# Secondary maintainer @Zimmi48

/theories/Vectors/        @herbelin

########## Tools ##########

/tools/coqdoc/          @silene
# Secondary maintainer @mattam82

/tools/coq_makefile*    @gares
# Secondary maintainer @silene

/tools/CoqMakefile*     @gares
# Secondary maintainer @silene

/tools/coqdep*          @ppedrot
# Secondary maintainer @maximedenes

/tools/coq_tex*         @silene
# Secondary maintainer @gares

/tools/coqwc*           @silene
# Secondary maintainer @gares

########## Toplevel ##########

/toplevel/        @ejgallego
# Secondary maintainer @gares

########## Vernacular ##########

/vernac/          @mattam82
# Secondary maintainer @maximedenes

########## Build system ##########

/Makefile*        @letouzey
# Secondary maintainer @maximdenes

/configure*       @letouzey
# Secondary maintainer @ejgallego

/META.coq         @ejgallego
# Secondary maintainer @letouzey


########## Developer tools ##########

/dev/tools/backport-pr.sh     @Zimmi48
# Secondary maintainer @maximedenes

/dev/tools/change-header      @herbelin

/dev/tools/check-eof-newline.sh @SkySkimmer

/dev/tools/coqdev.el @SkySkimmer

/dev/tools/github-check-prs.py @SkySkimmer

/dev/tools/merge-pr.sh @maximedenes
# Secondary maintainer @gares

/dev/tools/pre-commit @SkySkimmer

/dev/tools/sudo-apt-get-update @JasonGross
