Repository maximedenes/coq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @maximedenes, @ejgallego, @SkySkimmer, @Zimmi48, @silene, @barras, @ppedrot, @herbelin, @letouzey, @aspiwack, @forestjulien, @fajb, @thery, @amahboubi, @gares, @mattam82, @JasonGross

.github/CODEOWNERS:

# This file describes the maintainers for the main components. See
# `dev/doc/MERGING.md`.

########## GitHub metadata, including this file ##########

/.github/         @maximedenes
# Secondary maintainer @Zimmi48

########## CI infrastructure ##########

/dev/ci/*.sh      @ejgallego
# Secondary maintainer @SkySkimmer

/.travis.yml      @ejgallego
# Secondary maintainer @SkySkimmer

/.gitlab-ci.yml   @SkySkimmer
# Secondary maintainer @ejgallego

/appveyor.yml    @maximedenes
# Secondary maintainer @SkySkimmer

/default.nix     @Zimmi48
# Secondary maintainer @vbgl

########## Documentation ##########

/README.md        @Zimmi48
# Secondary maintainer @maximedenes

/INSTALL*         @Zimmi48
# Secondary maintainer @maximedenes

/CONTRIBUTING.md  @Zimmi48
# Secondary maintainer @maximedenes

/dev/doc/         @Zimmi48
# Secondary maintainer @maximedenes

/doc/             @silene
# Secondary maintainer @maximedenes

/man/             @silene
# Secondary maintainer @maximedenes

########## Coqchk ##########

/checker/         @barras
# Secondary maintainer @maximedenes

########## Coq lib ##########

/clib/            @ppedrot
# Secondary maintainer @ejgallego

/lib/             @ejgallego
# Secondary maintainer @ppedrot

########## Proof engine ##########

/engine/          @ppedrot
# Secondary maintainer @aspiwack

########## Grammar macros ##########

/grammar/         @ppedrot
# Secondary maintainer @maximedenes

########## CoqIDE ##########

/ide/             @ppedrot
# Secondary maintainer @gares

########## Interpretation ##########

/interp/          @herbelin
# Secondary maintainer @ejgallego

########## Interfaces ##########

/intf/            @letouzey
# Secondary maintainer @ppedrot

########## Kernel ##########

/kernel/          @maximedenes
# Secondary maintainer @barras

/kernel/byterun/  @maximedenes
# Secondary maintainer @silene

########## Library ##########

/library/         @silene
# Secondary maintainer @gares

########## Parser ##########

/parsing/         @herbelin
# Secondary maintainer @mattam82

########## Plugins ##########

/plugins/btauto/  @ppedrot
# Secondary maintainer @herbelin

# I don't know Pierre Corbineau's GitHub nickname
/plugins/cc/            @herbelin

/plugins/derive/        @aspiwack
# Secondary maintainer @ppedrot

/plugins/extraction/    @letouzey
# Secondary maintainer @maximedenes

# I don't know Pierre Corbineau's GitHub nickname
/plugins/firstorder/    @herbelin

/plugins/fourier/       @herbelin
# Secondary maintainer @gares

/plugins/funind/        @forestjulien
# Secondary maintainer @Matafou

/plugins/ltac/          @ppedrot
# Secondary maintainer @herbelin

/plugins/micromega/     @fajb
# Secondary maintainer @bgregoir

/plugins/nsatz/         @thery
# Secondary maintainer @ppedrot

/plugins/omega/         @letouzey

/plugins/romega/        @letouzey

/plugins/setoid_ring/   @amahboubi
# Secondary maintainer @bgregoir

/plugins/ssrmatching/   @gares
# Secondary maintainer @maximedenes

/plugins/ssr/           @gares
# Secondary maintainer @maximedenes

/plugins/syntax/        @ppedrot
# Secondary maintainer @maximedenes

/plugins/quote/ @herbelin

# Should be Pierre Corbineau too
/plugins/rtauto/ @herbelin

########## Pretyper ##########

/pretyping/       @mattam82
# Secondary maintainer @gares

########## Pretty printer ##########

/printing/        @herbelin
# Secondary maintainer @mattam82

########## Proof infrastructure ##########

/proofs/          @ppedrot
# Secondary maintainer @Zimmi48

########## STM ##########

/stm/             @gares
# Secondary maintainer @ejgallego

########## Tactics ##########

/tactics/         @ppedrot
# Secondary maintainer @mattam82

########## Standard library ##########

/theories/Arith/          @letouzey
# Secondary maintainer @herbelin

/theories/Bool/           @letouzey
# Secondary maintainer @herbelin

/theories/Classes/        @mattam82
# Secondary maintainer @herbelin

/theories/FSets/          @letouzey
# Secondary maintainer @herbelin

/theories/Init/           @letouzey
# Secondary maintainer @ppedrot

/theories/Lists/          @letouzey
# Secondary maintainer @ppedrot

/theories/Logic/          @herbelin
# Secondary maintainer @ppedrot

/theories/MSets/          @letouzey
# Secondary maintainer @herbelin

/theories/NArith/         @letouzey
# Secondary maintainer @herbelin

/theories/Numbers/        @letouzey
# Secondary maintainer @herbelin

/theories/PArith/         @letouzey
# Secondary maintainer @herbelin

/theories/Program/        @mattam82
# Secondary maintainer @herbelin

/theories/QArith/         @letouzey
# Secondary maintainer @herbelin

/theories/Reals/          @silene
# Secondary maintainer @ppedrot

/theories/Relations/      @mattam82
# Secondary maintainer @ppedrot

/theories/Setoids/        @mattam82
# Secondary maintainer @ppedrot

/theories/Sets/           @letouzey
# Secondary maintainer @herbelin

/theories/Sorting/        @letouzey
# Secondary maintainer @herbelin

/theories/Strings/        @letouzey
# Secondary maintainer @herbelin

/theories/Structures/     @letouzey
# Secondary maintainer @herbelin

/theories/Unicode/        @letouzey
# Secondary maintainer @herbelin

/theories/Wellfounded/    @letouzey
# Secondary maintainer @mattam82

/theories/ZArith/         @letouzey
# Secondary maintainer @herbelin

/theories/Compat/         @JasonGross
# Secondary maintainer @Zimmi48

/theories/Vectors/        @herbelin

########## Tools ##########

/tools/coqdoc/          @silene
# Secondary maintainer @mattam82

/tools/coq_makefile*    @gares
# Secondary maintainer @silene

/tools/CoqMakefile*     @gares
# Secondary maintainer @silene

/tools/coqdep*          @ppedrot
# Secondary maintainer @maximedenes

/tools/coq_tex*         @silene
# Secondary maintainer @gares

/tools/coqwc*           @silene
# Secondary maintainer @gares

########## Toplevel ##########

/toplevel/        @ejgallego
# Secondary maintainer @gares

########## Vernacular ##########

/vernac/          @mattam82
# Secondary maintainer @maximedenes

########## Build system ##########

/Makefile*        @letouzey
# Secondary maintainer @maximdenes

/configure*       @letouzey
# Secondary maintainer @ejgallego

/META.coq         @ejgallego
# Secondary maintainer @letouzey


########## Developer tools ##########

/dev/tools/backport-pr.sh     @Zimmi48
# Secondary maintainer @maximedenes

/dev/tools/change-header      @herbelin

/dev/tools/check-eof-newline.sh @SkySkimmer

/dev/tools/coqdev.el @SkySkimmer

/dev/tools/github-check-prs.py @SkySkimmer

/dev/tools/merge-pr.sh @maximedenes
# Secondary maintainer @gares

/dev/tools/pre-commit @SkySkimmer

/dev/tools/sudo-apt-get-update @JasonGross

test-suite: apply: fix scripts 3258 and 3188 after change of behavior
  test-suite/bugs/closed/bug_3188.v
  test-suite/bugs/closed/bug_3258.v
Owners: none

test-suite: apply: bug 5149 has no unsolved constraints with evarconv
  test-suite/bugs/closed/bug_5149.v
Owners: none

test-suite: apply: bug 2244 eapply/HO unification working correcly now
  test-suite/bugs/closed/bug_2244.v
Owners: none

test-suite: apply: fix 3531 not following spec,
  test-suite/bugs/closed/bug_3531.v
Owners: none

test-suite: apply.v eauto compat
  test-suite/success/apply.v
Owners: none

test-suite: apply: follow [apply]'s spec
  test-suite/success/RecTutorial.v
Owners: none

test-suite: apply: bug 1918 FO unification preferred
  test-suite/bugs/closed/bug_1918.v
Owners: none

small fix
  theories/ZArith/Zpower.v
Owners: @letouzey

Temporary overlay for bignums, to see other failures
  dev/ci/user-overlays/00991-mattam82-unifall-apply.sh
Owners: none

Fix test case for 7392, apply was instantiating an evar (TO BE CHECKED)
  test-suite/bugs/closed/bug_7392.v
Owners: none

Failures are back in HoTT, not sure if it is expected
  test-suite/bugs/closed/HoTT_coq_117.v
Owners: none

Use `eapply` instead of `apply` in SProp example
  test-suite/success/sprop.v
Owners: none

Various fixes related to `apply` now failing.
  theories/Floats/FloatLemmas.v
  theories/Reals/Cauchy/ConstructiveCauchyAbs.v
  theories/Reals/Cauchy/ConstructiveRcomplete.v
Owners: @silene

Fix test case for 4202, simple apply was instantiating an evar (TO BE CHECKED)
  test-suite/bugs/closed/bug_4202.v
Owners: none

Fix typing of "delayed" bindings in `apply`
  plugins/ltac/rewrite.ml
  proofs/clenv.ml
  proofs/clenv.mli
  tactics/tactics.ml
Owners: @ppedrot

Also delay explicit bindings in apply with
  proofs/clenv.ml
Owners: @ppedrot

Refine bindings delay heuristic
  proofs/clenv.ml
Owners: @ppedrot

Remove redundant scheme declarations
  theories/Numbers/HexadecimalFacts.v
Owners: @letouzey

Fix second_order_matching in case the evar arguments contains evars
  pretyping/evarconv.ml
Owners: @mattam82

Bug 10300 now properly fails (used to do a non-sensical apply)
  test-suite/bugs/closed/bug_10300.v
Owners: none

Fix Nsatz applying a generic lemma wihout any guidance
  theories/nsatz/NsatzTactic.v
Owners: none

Remove useless enter in resolve_tc
  tactics/class_tactics.ml
Owners: @ppedrot

`resolve_tc c` solves typeclasses appearing in `c`
  plugins/ltac/g_class.mlg
  tactics/class_tactics.ml
  tactics/class_tactics.mli
Owners: @ppedrot

attempt
  plugins/ltac/g_class.mlg
Owners: @ppedrot
